[project]
	description = Monitor the availability of Kafka clusters with generated messages. 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/rohitvyavahare
[access "refs/for/refs/*"]
	read = group user/rohitvyavahare
	push = group user/rohitvyavahare
	label-Code-Review = -2..+2 group user/rohitvyavahare
	label-Verified = -1..+1 group user/rohitvyavahare
	rebase = group user/rohitvyavahare
	removeReviewer = group user/rohitvyavahare
	submit = group user/rohitvyavahare
[access "refs/heads/*"]
	read = group user/rohitvyavahare
	create = group user/rohitvyavahare
	push = +force group user/rohitvyavahare
	pushMerge = group user/rohitvyavahare
[access "refs/tags/*"]
	push = group user/rohitvyavahare
	push = +force group user/rohitvyavahare
