[project]
	description = Monitor the availability of Kafka clusters with generated messages.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rohit Vyavahare (rohitvyavahare)
[access "refs/for/refs/*"]
	read = group user/Rohit Vyavahare (rohitvyavahare)
	push = group user/Rohit Vyavahare (rohitvyavahare)
	label-Code-Review = -2..+2 group user/Rohit Vyavahare (rohitvyavahare)
	label-Verified = -1..+1 group user/Rohit Vyavahare (rohitvyavahare)
	rebase = group user/Rohit Vyavahare (rohitvyavahare)
	removeReviewer = group user/Rohit Vyavahare (rohitvyavahare)
	submit = group user/Rohit Vyavahare (rohitvyavahare)
[access "refs/heads/*"]
	read = group user/Rohit Vyavahare (rohitvyavahare)
	create = group user/Rohit Vyavahare (rohitvyavahare)
	push = +force group user/Rohit Vyavahare (rohitvyavahare)
	pushMerge = group user/Rohit Vyavahare (rohitvyavahare)
[access "refs/tags/*"]
	push = group user/Rohit Vyavahare (rohitvyavahare)
	push = +force group user/Rohit Vyavahare (rohitvyavahare)
